.myFlexGrow {
    flex-grow: 1;
}

.myDisplayFlex {
    display: flex;
}

.myDisplayFlexColumn {
    display: flex;
    flex-direction: column;
}

.myDefaultMargin {
    margin: 1rem;
}

.myDefaultPadding {
    padding: 1rem;
}

.withoutDecoration {
    text-decoration: none;
}