.myFlexGrow {
    flex-grow: 1;
}

.myDisplayFlex {
    display: flex;
}

.myDisplayFlexColumn {
    display: flex;
    flex-direction: column;
}

.myDefaultMargin {
    margin: 1rem;
}

.myDefaultPadding {
    padding: 1rem !important;
}

.withoutDecoration {
    text-decoration: none;
}

.myDefaultMinHeight {
    min-height: 500px;
}

.myDefaultMinWidth {
    min-width: 320px;
}

.myMaxWidth {
    max-width: 800px;
}

.myDefaultMarginTopBottom {
    margin: 1rem 0;
}