.dialog {
    padding: 1rem!important;

    .dialogTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    .titleText {
        display: flex;
        align-items: center;
    }

    .dialogAction {
        padding: 1rem!important;
    }
}