@import '../../main/color-palette.scss';

.menuButton {
    margin-right: 2rem!important;
}

.title {
    flex-grow: 1;
}

.editSchedules {
    max-width: 190px;
    padding: 1rem;
}

.paperRow {
    min-width: 100%;
    padding: 1rem;
    display: flex;
    overflow: auto;
    flex-direction: row;
}

.paperColumn {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    overflow: auto;
}

.noBoxShadow {
    box-shadow: none;
}

.MuiPaper-elevation4 {
    box-shadow: none!important;
}

.MuiToolbar-root {
    color: white!important;
    background-color: $secondary-color!important;
}

.boxShadow {
    box-shadow: 0px 0px 5px 1px rgba(218,218,218,1)!important;
}

.horizontal {
    border-top: 1px solid black;
}

.lessonCard {
    margin: 1rem!important;
}

.scheduleName {
    color: $primary-color;
}

.deleteButtonText {
    color: $delete-color;
}

.emptyCard {
    min-width: 200px;
    min-height: 150px;
    margin: 1rem 0;
    background-color: lightgray;
}

.lessonItem {
    min-width: 190px;
    min-height: 148px;
    padding: 1rem;

    .lessonSubCard {
        max-width: 168px!important;
        max-height: 90px!important;
        margin: .5rem 0;
    
        .content {
            .header {
                font-size: 14px!important;
            }
        }
    }
    
    .emptySubCard {
        width: 168px;
        height: 60px;
        background-color: $primary-color;
        margin: .5rem 0;
    }
}


@media (max-width: 1000px) {
    .paperRow {
        flex-direction: column;
    }

    .listPaper {
        display: flex;
        justify-content: center;
    }
}