$base-color: white;
$background-color: #fafafa;
$primary-color: #2196F3;
$secondary-color: rgb(18, 18, 18);
$tertiary-color: #aeb8fe;

.baseColor {
    background-color: $base-color;
}

.backgroundColor {
    background-color: $background-color!important;
}

.blackColor {
    color: black;
}

.myWhiteColor {
    color: white!important;
}

.primaryColor {
    color: $primary-color!important;
}

.secondaryColor {
    color: $secondary-color;
}

.primaryBackground {
    background-color: $primary-color!important;
}

.secondaryBackground {
    background-color: $secondary-color!important;
}

.tertiaryBackground {
    background-color: $tertiary-color!important;
}


//override the deafult MUI color with mine
.MuiPaper-root {
    background-color: $background-color!important;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(218,218,218,1)!important;
}

.card {
    background-color: $primary-color!important;
}