@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

.myFlexGrow {
    flex-grow: 1;
}

.myDisplayFlex {
    display: flex;
}

.myDisplayFlexColumn {
    display: flex;
    flex-direction: column;
}

.justifyContentCenter {
    justify-content: center;
}

.setFlexOne {
    flex: 1;
}

.myDefaultMargin {
    margin: 1rem!important;
}

.myDefaultPadding {
    padding: 16px!important;
}

.withoutDecoration {
    text-decoration: none;
}

.myDefaultMinHeight {
    min-height: 450px;
}

.myDefaultMinWidth {
    min-width: 232px;
}

.myMaxWidth {
    max-width: 800px;
}

.myDefaultMarginTopBottom {
    margin: 1rem 0!important;
}

.myTextAlignCenter {
    text-align: center!important;
}

.justifyContentSpaceAround {
    justify-content: space-around
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}

.alignItemsCenter {
    align-items: center;
}

.alignSelfCenter {
    align-self: center;
}

.defaultFontSize {
    font-size: 1rem;    
}

.noUnderLine {
    text-decoration: none!important;
}

.clickBorder {
    button {
        outline: none!important;
        border: none!important;
    }
}

.display-flex {display: flex;}

.align-items-center {align-items: center;}

.justify-content-space-between {justify-content: space-between;}

.myFontFamily {
    font-family: 'Quantico', sans-serif!important;
}

.myHidden {
    display: none;
}