.footer {
    color: white;
    margin-top: auto;
    padding: 2rem 1rem;
    

    .MuiTypography-body2 {
        font-family: 'Quantico', sans-serif!important;
        font-size: 16px;
    }
}

.footerMinHeight{
    min-height: 100vh;
}