.margin-left-32px {margin-left: 32px!important;}

.margin-16px {margin: 16px!important;}

.margin-bottom-16px {margin-bottom: 16px!important;}

.margin-bottom-32px {margin-bottom: 32px!important;}

.margin-right-16px {margin-right: 16px!important;}

.margin-left-16px {margin-left: 16px!important;}

.margin-top-bottom-16px {margin: 16px 0!important;}

.margin-top-bottom-32px {margin: 32px 0!important;}

//MaterialUI styles
.MuiIconButton-root {padding: 0!important;}