@import '../../main/color-palette.scss';

.page {
    flex-direction: 'row';
    background-color: $background-color;
}

.section {
    margin: 1rem;
    padding: 1rem;
    flex-grow: 1;
}

.document {
    max-width: 50vw;

    th {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
    }

    tr {
        border: 1px solid black;
    }

    .slotNumber {
        display: flex;
        align-items: center;
        margin: 1rem;
    }

    .subject {
        margin: 0 .5rem;
    }

    .timeDuration {
        margin: 0 .5rem;
    }

    .cabinet {
        margin: 0 .5rem;
    }

    .initials {
        margin: 0 .5rem;
    }

    .overAWeek {
        margin: 0.5rem;
    }
}